.body {
    display: flex;
    flex-direction: column;
}

body {
    background-image: url(./background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@-moz-document url-prefix(){
    body {
        background: url(./background-firefox.png) no-repeat;
        background-size: cover;
    }
}