.body {
    display: flex;
    flex-direction: column;
}

body {
    background-image: url(./background.svg);
}

@-moz-document url-prefix(){
    body {
        background: url(./background-firefox.png);
    }
}